{% extends "base.html" %}
{% block hero %}
<!-- intentionally left blackto skip hero section  -->
{% endblock %}

{% block content %}
<!--Logout button-->
<div class="logout-button">
<a href="{{url_for('logout')}}">Logout</a>       
 </div>


     <!-- Admin page -->
     <h2>Admin panel</h2>
     <!-- Contacts -->
     <h3>Contacts</h3>
     <div class="admin-content-wrapper">
         <div class="table-container">
             
             
             <table border="1">
                 <tr>
                     <th class="id">Id</th>
                     <th class="name">Name</th>
                     <th class="email">Email</th>
                     <th class="number">Number</th>
                     <th class="message">Message</th>
                     <!-- New column  -->
                     <th class="actions">Actions</th>
                    </tr>
                    {% for c in contacts %}
                    <tr>
                        <td class="id">{{c.id }}</td>
                        <td class="name">{{c.Name }}</td>
                        <td class="email">{{c.Email }}</td>
                        <td class="number">{{c.Number }}</td>
                        <td class="message">{{c.Message }}</td>
                         <td class="actions">
                            <!-- Delete button that leads to confirmation page  -->
                             <a href="{{url_for('delete', record_type='contact',id=c.id )}}">Delete</a>
                             
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    
                    <h2>Booking details </h2>
                    <!-- Database for booking submission  -->
                    <table border="1">
                 <tr>
                     <th class="id">Id</th>
                     <th class="name">Name</th>
                     <th class="email">Email</th>
                     <th class="phone">Phone</th>
                     <th class="plan ">Plan</th>
                     <th class="start_date">Start_date</th>
                     <th class="actions">Actions</th>
                     
                    </tr>
                    {% for b in booking %}
                    <tr>
                        <td class="id">{{b.id}}</td>
                        <td class="name">{{b.name}}</td>
                        <td class="email">{{b.email}}</td>
                        <td class="phone">{{b.phone}}</td>
                        <td class="plan">{{b.plan}}</td>
                        <td class="start_date">{{b.start_date}}</td>
                        <td class="Paid">{{ 'Yes' if b.paid else 'No'}}</td>
                        <td class="0"></td>
                        <td class="actions">
                            <!-- Delete button that leads to confirmation page  -->
                            <a href="{{url_for('delete', record_type='booking',id=b.id )}}">Delete</a>
                            
                             
                         </td>
                    </tr>
                    {% endfor %}
                
</div>
</div>

 {% endblock %}
 {% block footer %}
 <!-- Left the footer block  -->
 {%endblock %}