{% extends "base.html" %}
{% block hero %}
<!-- intentionally left blackto skip hero section  -->
{% endblock %}

{% block content %}
<!--Logout button-->
<div class="logout-button">
<a href="{{url_for('logout')}}">Logout</a>       
 </div>
<!-- Admin page -->
 <h2>Admin panel</h2>
 <h3>Contacts</h3>
 <div class="admin-content-wrapper">
 <div class="table-container">

 
<table border="1">
    <tr>
        <th class="id">Id</th>
        <th class="name">Name</th>
        <th class="email">Email</th>
         <th class="number">Number</th>
         <th class="message">Message</th>
    </tr>
    {% for c in contacts %}
     <tr>
        <td class="id">{{c.id }}</td>
        <td class="name">{{c.Name }}</td>
        <td class="email">{{c.Email }}</td>
        <td class="number">{{c.Number }}</td>
        <td class="message">{{c.Message }}</td>
     </tr>
     {% endfor %}
</table>

</div>
</div>

 {% endblock %}