{% extends "base.html" %}
{% block hero %} 
<!-- intentionally left black to skip hero part -->
{% endblock  %}
{% block content %}
<!--  main content here -->
    <section class="contact-section">
      <h2 class="section-title">संपर्क विकल्प</h2>
      <div class="contact-details">
        <p><strong>ईमेल:</strong>
          <a href="mailto:satvalibrary@gmail.com">satvalibrary@gmail.com</a>
        </p>
        <p><strong>फोन:1</strong>
          <a href="tel:+919471846896">+919471846896</a>
        </p>
        <p><strong>फोन:2</strong>
          <a href="tel:+919835173482">+919835173482</a>
        </p>
      </div>
      <div class="social-links">
        <a href="https://wa.me/919471846896" target="_blank">WhatsApp</a>
        <a href="https://www.instagram.com/sheoharnama" target="_blank">Instagram</a>
        <a href="https://www.facebook.com/sheoharnama9" target="_blank">Facebook</a>
      </div>
          
          

       </section>
       <!-- Google embedding for location -->
        <div class="map-container">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d265.3625184650353!2d85.29375576727465!3d26.511174183281362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ece70268bdc183%3A0x9bea0edf67fef24b!2sSatva%20Library!5e0!3m2!1sen!2sin!4v1754217506763!5m2!1sen!2sin" 
       width="600" 
       height="450" 
       style="border:0;"
        allowfullscreen=""
         loading="lazy" 
         referrerpolicy="no-referrer-when-downgrade">

        </iframe>

        </div>

   
  
{% endblock %}
