{% extends "base.html" %}
{% block hero %}
<!--  intentionally left the this blank -->
{% endblock %}
{% block content %}
<div class="login-container">
    <h2 class="login-title">Login</h2>

    <form method="POST" action="{{url_for('login')}}">
    <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username" class="form-input" required>
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-input" required>
         </div>
     <div class="form-group">
        <label for="password" class="form-label">password</label>
        <input type="password" id="password" name="password" class="form-input" required><br><br>
    </div>    
     <div class="form-group" style="margin-top: 10px;">
        <input type="checkbox" id="show-password" onclick="tooglepassword()">
        <label for="show-password">Show password</label>
     </div>
     <div class="form-group">
        <input type="checkbox" id="remember" name="remember">
        <label for="remember">Remember Me</label>
     </div>
     {% if error %}
        <div class="error-message">{{error}}</div>
     {% endif %}   
        <div style="text-align: center;">
            <button type="submit" class="login-button">Login</button>
        </div>
       </form>
</div>

{% endblock %}