{% extends "base.html" %}
{%block title %} {% endblock %}
{%block content %} 
 
<h2 style="text-align: center; margin-top: 50px;"> Thankyou!</h2>
<p style="text-align: center;"> Your message has been received. we will contact you soon.</p>
<p style="text-align: center;"><strong>Name:</strong>{{name}}</p>
<p style="text-align: center;"><strong>Email:</strong>{{email}}</p>
<p style="text-align: center;"><strong>number:</strong>{{number}}</p>
<p style="text-align: center;"><strong>Message:</strong>{{message}}</p>



{% endblock %}